{% extends 'layouts/base.html' %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Histórico de Ocorrencias
    <!-- <small>Control panel</small> -->
  </h1>      
</section>

<!-- Main content -->
<section class="content">
  <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Select2</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Minimal</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select>
              </div>
              <!-- /.form-group -->              
            </div>
            <!-- /.col -->           
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->        
      </div>
      <!-- /.box -->
</section>
<!-- /.content -->
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
	$(function() {
		//Initialize Select2 Elements
    	$(".select2").select2();
	});	
</script>
{% endblock scripts %}