{% extends 'layouts/base.html' %}

{% block title %}Acidentes Aereos{% endblock %}

{% block content %}   

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dados Estatísticos
    <!-- <small>Control panel</small> -->
  </h1>      
</section>

<!-- Main content -->
<section class="content">
  <div class="row">   
  	<div class="col-md-6">
      	
  	</div>
  </div> <!-- /.row -->     
</section>
<!-- /.content -->
      
{% endblock %}

{% block scripts %}
<script type="text/javascript">
</script>

{% endblock %}