{% extends 'layouts/base.html' %}

{% block title %}Acidentes Aereos{% endblock %}

{% block content %}   

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Ocorrências Aeronáuticas na Aviação Civil Brasileira
  </h1>      
</section>

<!-- Main content -->
<section class="content">
  <div class="row">   
  	<div class="col-md-12">
      	<p>A base de dados de ocorrências aeronáuticas é gerenciada pelo Centro de Investigação e Prevenção de Acidentes aeronáuticos (CENIPA). Constam nesta base de dados todos os acidentes e incidentes graves notificados ao CENIPA nos últimos 10 anos e que ocorreram em solo brasileiro.
		</p>
		<p>Dentre as informações disponíveis estão os dados sobre as aeronaves envolvidas, fatalidades, localidade, data / horário e classificação / tipificação das ocorrências. São resguardados os dados pessoais de pessoas físicas / jurídicas envolvidas.
		</p>
		<p>Essa base de dados é composta por informações preliminares. Dados consolidados podem ser obtidos após o encerramento dos trabalhos de investigação através dos relatórios finais publicados e disponíveis no site do CENIPA.
		</p>
		<p>Os relatórios finais podem ser consultados no <a href="http://www.cenipa.aer.mil.br/cenipa/paginas/relatorios/relatorios-finais" title="CENIPA">site do CENIPA - Relatórios</a>.
		</p>
		<p>As recomendações de segurança podem ser consultadas no <a href="http://www.cenipa.aer.mil.br/cenipa/paginas/relatorios/recomendacoes" title="CENIPA">site do CENIPA - Recomendações</a>.
		</p>
		<p>Artigos científicos sobre o tema podem ser encontrados / publicados na <a href="http://inseer.ibict.br/sipaer/index.php/sipaer/issue/current/" title="Conexão SIPAER">Revista Conexão SIPAER</a>.
		</p>
		<p><strong>Outras bases de dados para consultas:</strong>
		</p>
		<ol>
		 <li>
		     <a href="http://www.ntsb.gov/_layouts/ntsb.aviation/index.aspx" title="Base de dados do NTSB">NTSB</a>
		 </li>

		 <li>
		     <a href="http://www.bea.aero/fr/recherche_publi_result.php" title="Base de dados do BEA">BEA</a>
		 </li>
		</ol>
  	</div>
  </div> <!-- /.row -->     
</section>
<!-- /.content -->
      
{% endblock %}

{% block scripts %}
<script type="text/javascript">
</script>

{% endblock %}